@using PuffyAmiYumi.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("Cart")
}



<h1>Potpourri-R-Us!</h1>
<p>We've handpicked all of these for you from our special reserves. Taken from the most exotic of places. We talk directly with our suppliers to get you the best quality potpourri possible. 100% organic. Guaranteed satisfaction!</p>

<a class="products" asp-controller="Shop" asp-action="Index">Products</a>

@*
    <div class="container-fluid">

        @foreach (var item in Model)
        {
        <h2>Name: @item.Name</h2>
        <p>Product Name: @item.Flavor</p>
        <p>Price: @item.Price</p>
        <img src="@item.ImageUrl" />
        <p>Stock: @item.Stock</p>

        <p><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">View Details</a></p>
        }
    </div>
*@