<div class="container-fluid">

    @foreach (var item in Model)
    {
        <h2>Name: @item.Name</h2>
        <p>Product Name: @item.ProductName</p>
        <p>Price: @item.Price</p>
        <img src="@item.ImageUrl" />
        <p>Stock: @item.Stock</p>

        <p><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">View Details</a></p>
    }
</div>